{% extends 'base.html' %}

{% block table %}
    <div class="container">
        <h2>New book</h2>
        <form class="form-group col-sm-8 form-horizontal">
            <label class="form-label" for="title">Author</label>
            <input class="form-control" id="title" v-model="author">

            <label class="form-label" for="description">Book</label>
            <textarea class="form-control" id="description" rows="2" v-model="book"></textarea>

            <button class="btn" v-on:click="addRecord()">Create</button>
        </form>
    </div>
    <div class="container">
        <autocomplete :suggestions="searchList" :selection.sync="value" ></autocomplete>
        <h2>Library</h2>
        <p v-if="entries.length == 0">Sorry, no records found in the db</p>
          <table class="table table-bordered col-sm-8">
            <thead>
              <tr>
                <th>Author</th>
                <th>Book</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody v-if="oneAuthor">
            <button class="btn" v-on:click="getRecords" v-if="oneAuthor">See the whole library</button>
              <tr v-for="author in authorEntries" >
                <td>[[author.name]]</td>
                <td>[[author.book]]</td>
                <td><button class="btn" v-on:click="removeRecord($index)"><span class="glyphicon glyphicon-trash pull-right"></span></button></td>
              </tr>
            </tbody>
            <tbody v-else v-for="author in entries" track-by="$index">
              <tr v-for="value in author.book"> <!-- display each book from an author -->
                <td>[[ author.name ]]</td>
                <td>[[ value.book ]]</td>
                <td><button class="btn" v-on:click="removeRecord($index)"><span class="glyphicon glyphicon-trash pull-right"></span></button></td>
              </tr>
            </tbody>
          </table>
    </div>
{% endblock %}